@import url("http://fonts.googleapis.com/css?family=Sniglet");


/*.flp {padding: 0 50px;}*/
/*Let's place the label over the input*/
.flp div {position: relative;
           margin-top: 3px;
}
@media screen and (max-width:800px) {
.flp div {
           margin-top: 6px;
}
}
.flp input, .flp label, flp textarea {
	/*width: 400px;*/
     display: block;
	/*font: inherit;*/ 
    /*font-size: 16px;*/ 
    /*line-height: 24px;*/
	/*fixed height for FF line height issue. 
	height = 24(lineheight) + 10*2(padding) + 2(border)*/
	/*height: 33px;*/
}
.flp select {
height:33px;
}
.flp input [type="text"] {outline: none; border-radius: 3px;
            padding:10px 5px 6px 5px;
	border: 1px solid #bbb;
}

.flp textarea {outline: none; border-radius: 3px;padding:10px 5px 6px 5px;
	border: 1px solid #bbb;}
.flp label {
	position: absolute; left: 0; top: 0;
	/*left/right padding will be 2px less, adjusted by padding on .ch*/
	padding: 10px 2px;
	border-color: transparent; color: #999;
	cursor: text;
}
.flp input[type="checkbox"] + label,
.flp input[type="radio"] + label {
position:relative;
display:inline-block;
margin:2px;
}
.flp input[type="checkbox"],
.flp input[type="radio"] {
display:inline-block;
}
.flp .label-fix label {
padding: 10px;
}
/*label styles*/
.ch {
	display: block; float: left;
	position: relative; /*for upward animation*/
	background: white; 
}
.ch:first-child {padding-left: 2px;}
.ch:last-child {padding-right: 2px;}

/*active input label*/
.focussed {
	/*when any input is already focussed clicking on it(label) again won't do anything*/
	pointer-events: none;
}



