/*This Style Sheet contaians the classes that need to be made with unique color for each theme*/

.page_title
{
/*width:100%;*/
margin: 0px;
padding:5px 0;
font-size: 18px !important;
color: #59a33e  !important;
display:inline-block;
}

/*-----------Icons & Buttons------------*/
a {
color:#59a33e;
text-decoration:none;
font-size:12px;
}
    .btn i, .save i {
    margin-right:2px;
    font-size:15px;
    color:#59a33e;
    }
    .btn:hover, .save:hover
    {
color:#026529;
background:#eee;
    }
    .ButtonStyle
{
border: 0px none;
color: #fff;
border:1px solid #fff;
padding: 6px 32px;
font-weight: 600;
font-family: 'Open Sans', Arial, Tahoma;
cursor: pointer;
outline: none;
margin: 0 0 3px 5px;
float:right;
-webkit-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-o-transition:all .5s;
transition:all .5s;
border-radius:5px;
background:#59a33e;
box-shadow:0 0 100px #59a33e inset;
}
.ButtonStyle:hover
{
  color:#59a33e;
  border-color:#59a33e;
  background:#fff;
  box-shadow:0 0 0 #59a33e inset;
}
.uploadBtn {
    border: 1px solid #59a33e;
    color: #FFFFFF;
    padding: 6px 13px;
    cursor: pointer;
    outline: none;
    margin: 0;
    float: left;
    -webkit-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-o-transition:all .5s;
transition:all .5s;
border-radius:5px;
background:#59a33e;
box-shadow:0 0 100px #59a33e inset;
}
.uploadBtn:hover
{
  color:#59a33e;
  border-color:#59a33e;
  background:#fff;
  box-shadow:0 0 0 #59a33e inset;
}

/*----------Ajax Tabs------------*/
    .ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab {
 box-shadow:0px 3px 0px #59a33e inset;
    } 
/*------CalendarExtender--------*/
.custom-calendar .ajax__calendar_title

{
 height:20px;
 line-height:20px;
  background-color:#59a33e;
  color:#fff;
}
.custom-calendar .ajax__calendar_prev,
.custom-calendar .ajax__calendar_next

{
 background-color:#59a33e;
height:20px;
 width:20px;
 margin:0;
 z-index:10;
}
.custom-calendar .ajax__calendar_today

{
 height:20px;
 padding-right:0px;
 line-height:20px;
 color:#59a33e;
 font-weight:bold;
}
/*-------AutoCompleteList---------*/
.acl .li-hover
{
    background:#59a33e;
    margin:0px;
    padding:5px 10px;
    color:#fff;
    cursor:pointer;
    font-weight:bold;
}
/*------------Focus Styles------------*/
 .textarea:focus, .textbox:focus, .listbox:focus, .listbox02:focus,
    .listbox03:focus, .textbox03:focus, .textbox04:focus,
    .after-select:focus, .range-textbox:focus, .textbox_no_icon:focus,
    .textarea01:focus {
    border-color:#59a33e;
    }