/*This Style Sheet contaians the classes that need to be made with unique color for each theme*/

.page_title
{
/*width:100%;*/
margin: 0px;
padding:5px 8px;
font-size: 18px !important;
color: #DE5715  !important;
display:inline-block;
float:right;
}

/*-----------Icons & Buttons------------*/
a {
color:#DE5715;
text-decoration:none;
font-size:12px;
}
    .btn i, .save i {
    margin-right:2px;
    font-size:15px;
    color:#DE5F21;
    }
    .btn:hover, .save:hover
    {
color:#DE5F21;
background:#eee;
    }
    .ButtonStyle
{
border: 0px none;
color: #fff;
border:1px solid #fff;
padding: 6px 32px;
font-weight: 600;
font-family: 'Open Sans', Arial, Tahoma;
cursor: pointer;
outline: none;
margin: 0 0 3px 5px;
float:right;
-webkit-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-o-transition:all .5s;
transition:all .5s;
border-radius:5px;
background:#00af8b;
box-shadow:0 0 100px #00af8b inset;
}
.ButtonStyle:hover
{
  color:#00af8b;
  border-color:#00af8b;
  background:#fff;
  box-shadow:0 0 0 #00af8b inset;
}
.uploadBtn {
    border: 1px solid #00af8b;
    color: #FFFFFF;
    padding: 6px 26px;
    cursor: pointer;
    outline: none;
    margin: 0;
    float: left;
    -webkit-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-o-transition:all .5s;
transition:all .5s;
border-radius:5px;
background:#00af8b;
box-shadow:0 0 100px #00af8b inset;
}
.uploadBtn:hover
{
  color:#00af8b;
  border-color:#00af8b;
  background:#fff;
  box-shadow:0 0 0 #00af8b inset;
}
.uploadBtn_plus {
    border: 1px solid #00af8b;
  color: #FFFFFF;
  padding: 4px 8px;
  cursor: pointer;
  outline: none;
  margin: 0;
  float: left;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-radius: 0px;
  background: #00af8b;
  box-shadow: 0 0 100px #00af8b inset;
  position: absolute;
  right: 3px;
  top: 4px;
  z-index: 999;
}
.uploadBtn_plus:hover
{
  color:#00af8b;
  border-color:#00af8b;
  background:#fff;
  box-shadow:0 0 0 #00af8b inset;
}

/*----------Ajax Tabs------------*/
    .ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab {
 box-shadow:0px 3px 0px #00af8b inset;
    } 
/*------CalendarExtender--------*/
.custom-calendar .ajax__calendar_title

{
 height:20px;
 line-height:20px;
  background-color:#00af8b;
  color:#fff;
}
.custom-calendar .ajax__calendar_prev,
.custom-calendar .ajax__calendar_next

{
 background-color:#00af8b;
height:20px;
 width:20px;
 margin:0;
 z-index:10;
}
.custom-calendar .ajax__calendar_today

{
 height:20px;
 padding-right:0px;
 line-height:20px;
 color:#00af8b;
 font-weight:bold;
}
/*-------AutoCompleteList---------*/
.acl .li-hover
{
    background:#00af8b;
    margin:0px;
    padding:5px 10px;
    color:#fff;
    cursor:pointer;
    font-weight:bold;
}
/*------------Focus Styles------------*/
 .textarea:focus, .textbox:focus, .listbox:focus, .listbox02:focus,
    .listbox03:focus, .textbox03:focus, .textbox04:focus,
    .after-select:focus, .range-textbox:focus, .textbox_no_icon:focus,
    .textarea01:focus {
    border-color:#00af8b;
    }

  .btn-primary {
    color: #fff !important;
    background-color: #00af8b !important;
    border: none !important;
    border-radius: 0px !important;
}
    .btn-primary :hover {
        opacity:0.8;
    }