/*This Style Sheet contaians the classes that need to be made with unique color for each theme*/

.page_title {
    /*width:100%;*/
    margin: 0px;
    padding: 5px 7px;
    font-size: 18px !important;
    color: #148083 !important;
    display:inline-block;
    float: right;
}

/*-----------Icons & Buttons------------*/
.uploadBtn {
    border: 1px solid #ed4c3e;
    color: #FFFFFF;
    padding: 6px 13px;
    cursor: pointer;
    outline: none;
    margin: 0;
    float: left;
    -webkit-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-o-transition:all .5s;
transition:all .5s;
border-radius:0px;
background:#ed4c3e;
box-shadow:0 0 100px #FDA80Dinset;
width:100%;
}
.uploadBtn:hover
{
  color:#ed4c3e;
  border-color:#ed4c3e;
  background:#fff;
  box-shadow:0 0 0 #FDA80Dinset;
  border-radius:0px;
}
a {
    color: #C09C67;
    text-decoration: none;
    font-size: 12px;
}
    .btn i, .save i {
    margin-right:2px;
    font-size:15px;
    color:#F12A18;
    }
    .btn:hover, .save:hover
    {
color:#c15a02;
background:#eee;
    }
    .ButtonStyle
{
border: 0px none;
color: #fff;
border:1px solid #fff;
padding: 6px 32px;
font-weight: 600;
font-family: 'Open Sans', Arial, Tahoma;
cursor: pointer;
outline: none;
margin: 0 0 3px 5px;
float:right;
-webkit-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-o-transition:all .5s;
transition:all .5s;
border-radius:5px;
background:#F12A18;
box-shadow:0 0 100px #F12A18 inset;
}
    .uploadBtn_plus {
    border: 1px solid #E63523;
  color: #FFFFFF;
  padding: 4px 8px;
  cursor: pointer;
  outline: none;
  margin: 0;
  float: left;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-radius: 0px;
  background: #E63523;
  position: absolute;
  left: 7px;
  top: 4px;
  z-index: 999;
}
.uploadBtn_plus:hover
{
  color:#E63523;
  border-color:#E63523 ;
  background:#fff;
  box-shadow:0 0 0 #E63523 inset;
}
.ButtonStyle:hover
{
  color:#F12A18;
  border-color:#F12A18;
  background:#fff;
  box-shadow:0 0 0 #F12A18 inset;
}
.uploadBtn {
    border: 1px solid #F12A18;
    color: #FFFFFF;
    padding: 6px 13px;
    cursor: pointer;
    outline: none;
    margin: 0;
    float: left;
    -webkit-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-o-transition:all .5s;
transition:all .5s;
border-radius:0px;
background:#F12A18;
box-shadow:0 0 100px #F12A18 inset;
}
.uploadBtn:hover
{
  color:#F12A18;
  border-color:#F12A18;
  background:#fff;
  box-shadow:0 0 0 #F12A18 inset;
}

/*----------Ajax Tabs------------*/
    .ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab {
 box-shadow:0px 3px 0px #F12A18 inset;
    } 
/*------CalendarExtender--------*/
.custom-calendar .ajax__calendar_title

{
 height:20px;
 line-height:20px;
  background-color:#F12A18;
  color:#fff;
}
.custom-calendar .ajax__calendar_prev,
.custom-calendar .ajax__calendar_next

{
 background-color:#F12A18;
height:20px;
 width:20px;
 margin:0;
 z-index:10;
}
.custom-calendar .ajax__calendar_today

{
 height:20px;
 padding-right:0px;
 line-height:20px;
 color:#F12A18;
 font-weight:bold;
}
/*-------AutoCompleteList---------*/
.acl .li-hover
{
    background:#F12A18;
    margin:0px;
    padding:5px 10px;
    color:#fff;
    cursor:pointer;
    font-weight:bold;
}
/*------------Focus Styles------------*/
 .textarea:focus, .textbox:focus, .listbox:focus, .listbox02:focus,
    .listbox03:focus, .textbox03:focus, .textbox04:focus,
    .after-select:focus, .range-textbox:focus, .textbox_no_icon:focus,
    .textarea01:focus {
    border-color:#F12A18;
    }
  .btn-primary {
    color: #fff !important;
    background-color: #148083 !important;
    border: none !important;
    border-radius: 0px !important;
}
    .btn-primary :hover {
        opacity:0.8;
    }