
svg{stroke:currentColor;fill:currentColor;stroke-width:1}
.w3-button{background-color:transparent}
.zulns-datepicker .w3-button{padding:5px 12px}
.zulns-datepicker .w3-cell{width:14.2857%;padding:4px 0px}
.right-to-left .w3-cell{float:right!important}
.unbreakable{overflow:hidden;white-space:nowrap}
